body{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* justify-content: center;
    height: 100vh; */
    text-align: center;
}

h1{
    text-align: center;
    color: white;
    background-color:  rgb(21, 21, 90);
    padding: 50px;
    margin-top: 0;
    width: 100%;
}

h2{
    text-align:center;
    margin-bottom: 20px;
    color: black;
}


.form-container{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    background: #fff;
    width: 100%;
    
}


label{
    display: flex;
    justify-content: center;
    align-items: flex-start; /*文字靠左  */
    width: 100%;
    gap: 5px;
    margin-top: 10px;
    font-weight: 30px;
}


.checkbox-wrap input[type="checkbox"]{
    margin-left: 0 !important;
    width: 30px;
}

input{
    width: 10vw;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc
}

input[type="checkbox"] {
    width: auto;
}

button:not(.deletebutton) {
    margin-top: 20px;
    width: 10vh;
    padding: 10px;
    background: rgb(216, 214, 214);
    color: black;
    border: 2px solid rgb(105, 104, 104);
    border-radius:  5px;
    font-size: 16px;
    cursor: pointer;
}

/* .deletebutton {
    padding: 2px 6px;
    background: rgb(216, 214, 214);
    color: yellow !important; 
    border: 2px solid rgb(105, 104, 104);
    border-radius:  5px;
    font-size: 16px;
    cursor: pointer;
} */

.divider{
    margin: 40px auto;
    border: 0;
    border-top: 1px solid #ccc;
    background-color: #666;
    width: 80%;
}
.hr{
    margin: 40px auto;
    border: 0;
    border-top: 1px solid #ccc;
    width: 80%;
}

.logout-btn {
    flex: 0 0 auto;
    margin-top: 20px;
    width: 20vh !important;
    white-space: nowrap;
    padding: 10px;
    background: rgb(216, 214, 214);
    color: black;
    border: 2px solid rgb(105, 104, 104);
    border-radius:  5px;
    font-size: 16px;
    cursor: pointer;
}